<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <nav>
        <p><a href="{% url 'profile' %}">Profile</a></p>
        <a href="/">ProcrastinAut</a>

    </nav>
    <h1>My Projects</h1>
    <ul>
        {% for project in projects %}
            <li><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_project' %}">Create A New Project</a>
</body>
</html>